.detail {
    width: 200px;
    height: 100px;
    background-color: red;

    &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: blue;
    }
}

span.icon {
    display: inline-block;
    background:  no-repeat 0 0;
    background-color: black;
    box-shadow: inset 2px 2px 2px #000;
    border: 1px solid red;
    &::after {
        content: '';
        display: block;
    }
}

.mouse {
    display: block;
    width: 10px;
    height: 10px;
    background-color: blue;
}